<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ultramorpion</title>
    <style>
        body { background-color: cyan }
        a:link { text-decoration: none; }
        a:visited { text-decoration: none; }
        a:hover { text-decoration: none; }
        a:active { text-decoration: none; }
        a {
            background-color: white;
            border: solid black 1px;
            text-align: center;
            font-size: 5em;
        }
        .board {
            display: grid;
            padding-left: 40vw;
            padding-top: 10vh;
        }
    </style>
</head>
<body>
<div class="board"
     data-th-style="'grid-template-columns: repeat('+${width}+', 100px);'+'grid-template-rows: repeat('+${height}+', 100px)'">
    <a
            class="cell"
            data-th-each="cell: ${cells}"
            data-th-text="${cell.mark}"
            data-th-href="@{'/game/move/'+${play_id}+'/'+${cell.x}+'/'+${cell.y}}"
            data-th-style="'grid-column: '+${cell.x+1}+';'+'grid-row: '+${cell.y+1}+';'"
    >R</a>
</div>
</body>
</html>